GEMINI_API_KEY=
GOOGLE_API_KEY=
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
OLLAMA_BASE_URL=http://127.0.0.1:11434
NEXT_PUBLIC_API_URL=http://127.0.0.1:8000
REVALIDATE_SECRET=your-secret-here
NEXTJS_URL=http://localhost:3000